body,
html {
  background-color: #4d5157;
}
#countLabel {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: "Cascadia code";
  color: cornsilk;
}

#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(219, 79%, 66%);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.buttons:hover {
  background-color: hsl(219, 82%, 57%);
}

button[type="github"] {
  padding: 5px 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.footer {
  background-color: #303030;
  color: #fff;
  clear: both;
  font-family: "ubuntu";

  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  border-width: 30%;
}

button[type="github"]:hover {
  transition: background-color 0.9s ease;
  background-color: #af4c9d;
}
